# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
db.sqlite3
.env

# Frontend / Node
node_modules/
dist/
dist-ssr/
*.local
.env.local
.env.*.local

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
